---
title: T. Chung
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
    </head>
    <body>
        <a href="javascript:history.back()">back</a>
        {{ content | safe }}
    </body>
</html>
